body {
    font-family: Tahoma;
  }
  
  
  /* styles.css */
  #popup {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  #popup-content {
      background: #fff;
      padding: 20px;
      border-radius: 5px;
      text-align: center;
      width: 70%;
      height: 25%;
    font-size: 2vh;
  }
  
  #popup.hidden {
      display: none;
  }
  
  #graph-container {
      position: relative;  
      width: 100vw;
      height: 90vh;
      border: 1px solid #cccccc;
    overflow: auto;
  }
  
  #graphImage {
      position: absolute; /* Position relative to enable absolute positioning of child elements */
      width: auto; /* Adjust based on your image */
      height: 100%; /* Adjust based on your image */
  }
  
  #dots {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none; /* Ensure clicks on the dots don't interfere with other interactions */
  }
  
  .dot {
      position: absolute;
      width: 1vh;
      height: 1vh;
      border-radius: 50%;
      background-color: red; /* Default color */
  }
  
  #try {
    position:absolute;
    background-color: red;
    width: 100vw;
    height: 100vh;
  }
  
  
  #topSection {
    height:5vh;
    display: flex;
    gap: 1vw;
    font-size: 1vh;
  }
  
  #image-container {
    height: 100%;
    width: auto;
  }
  
  #clearStorage {
     font-size: 2vh;
      width: 30vw;
  }